@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.position-all-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  /* transform: translateY(-50%); */
}

.modal-body h5 {
  font-weight: 600;
}

.modal-body h6 {
  font-weight: 600;
}

.modal-body {
  max-height: 500px;
  overflow: auto;
}

#moveButton {
  position: relative;
}

.hiddenmsg {
  text-align: center;
}

.wybmyg h1 {
  font-size: 3rem;
}

.Images {
  height: 100%;
}
